<mat-card class="add-post-card">
    <mat-card-header class="add-post-header">
        <mat-card-title class="add-post-title">Adicionar Post</mat-card-title>
    </mat-card-header>

    <mat-card-content class="add-post-content">
        <form (submit)="onSubmit()" class="post-form">
            <mat-form-field class="post-type-selector" appearance="fill">
                <mat-label>Tipo:</mat-label>
                <mat-select [(ngModel)]="postType" name="postType" (change)="onTypeChange()" required>
                    <mat-option value="post">Post</mat-option>
                    <mat-option value="album">Álbum de Fotos</mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="postType === 'post'" class="post-details">
                <mat-form-field class="title-field" appearance="fill">
                    <mat-label>Título:</mat-label>
                    <input matInput type="text" id="title" [(ngModel)]="postData.title" name="title" required>
                </mat-form-field>

                <div class="image-upload-field">
                    <input type="file" (change)="onImageSelected($event)" accept="image/*">
                  </div>
                

                <div class="editor-field">
                    <label for="content"></label>
                    <quill-editor [(ngModel)]="postData.content" [ngModelOptions]="{standalone: true}" [modules]="editorOptions.modules" class="quill-editor"></quill-editor>
                </div>
            </div>

            <!-- Parte do Álbum de Fotos -->
            <div *ngIf="postType === 'album'" class="album-details">
                <mat-form-field class="title-field" appearance="fill">
                    <mat-label>Título do Álbum:</mat-label>
                    <input matInput type="text" id="title" [(ngModel)]="postData.title" name="title" required>
                </mat-form-field>
            
                <div class="image-upload-field">
                    <input type="file" (change)="onImagesSelected($event)" accept="image/*" multiple>
                </div>
            </div>
            


            <div class="submit-button">
                <button mat-raised-button color="primary" type="submit">Enviar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
