<div class="login-container">
    <mat-card>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
  
        <button mat-raised-button color="primary">Entrar</button>
        <button type="button" mat-button (click)="navigateToRegister()">Cadastre-se</button>
      </form>
    </mat-card>
  </div>
  