<mat-toolbar color="primary" class="header-container">
  <span class="header-title">Blogs-SOLID</span>

  <span class="spacer"></span>

  <button mat-button (click)="navigateToHome()">Home</button>

  <div *ngIf="!isLoggedIn() && isHomePage">
    <button mat-button class="login-button" (click)="navigateToLogin()">Login / Cadastre-se</button>
  </div>
  
  <div *ngIf="isLoggedIn() && isHomePage">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openConfirmLogoutDialog()">Sair</button>
    </mat-menu>
  </div>
</mat-toolbar>
